<p class="level-over--box">
  <span class="level-over--reward {{image}}"></span>
  <span class="level-over--message">LEVEL COMPLETED</span>
  {{#if hasNextLevel}}
    <a class="level-over--link" {{action "clickNext"}}>
      next level
    </a>
  {{/if}}
</p>
