<p>{{levelName}}</p>
<table>
  <tr>
    <td>
      Moves
    </td>
    <td>
      <span class="score-board--number">{{score.levelMoves}}</span>
    </td>
  </tr>
  <tr>
    <td>
      Total
    </td>
    <td>
      <span class="score-board--number">{{score.totalMoves}}</span>
    </td>
  </tr>
</table>
