:root {
  --layer-background: 0;
  --layer-wall: 1;
  --layer-sign: 2;
  --layer-npc: 3;
  --layer-pc: 4;
  --layer-osd: 5;
}

html {
  height: 100%;
  background-color: #2b2300;
  background-size: 100%, 80px;
  background-image: -webkit-linear-gradient(right, rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url(../ground.png);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  color: inherit;
}

.kind--cell {
  position: absolute;
  box-sizing: border-box;
  transition: left .2s, top .2s;
  background: transparent none 50% 50% no-repeat;
  background-size: contain;
}

.kind--ground {
  background-color: #564500;
  background-image: url('../ground.png');
  z-index: var(--layer-background);
  border-right: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.kind--arrow {
  border: none;
  background-image: url('../arrow-left.png');
  background-size: 50%;
  opacity: 0.4;
  z-index: var(--layer-sign);

  animation: 1s ease-in-out 0s infinite alternate shake-horizontal;
}

.kind--arrow.right {
  background-image: url('../arrow-right.png');
}

.kind--arrow.up {
  background-image: url('../arrow-up.png');
}

.kind--arrow.down {
  background-image: url('../arrow-down.png');
}

.kind--target {
  background-color: transparent;
  background-image: url('../target.png');
  opacity: .3;
  background-size: 60%;

  animation: 1s ease-in-out 0s infinite alternate swing;
}

.kind--wall {
  background-color: rgb(150, 131, 53);
  z-index: var(--layer-wall);
  box-shadow: 5px 5px 0 5px rgb(68, 55, 5);
  transform: translate(-9px , -8px);
  border-left: 1px solid rgba(255,255,255,.2);
  border-top: 1px solid rgba(255,255,255,.2)
}

.kind--water {
  background-color: transparent;
  background-image: url('../water.png');
  z-index: var(--layer-background);
}

.kind--box {
  background-image: url('../box.png');
  z-index: var(--layer-npc);
  background-size: 60px;
}

.kind--box.is-fulfilled {
  animation: 1s ease-in-out 0s 1 alternate is-fulfilled;
}

.kind--player {
  background-image: none;
  z-index: var(--layer-pc);
}

:root {
  --player-height: 80px;
  --player-width: 53px;
}

.kind--player-img {
  display: block;
  margin: 0 auto;
  width: var(--player-width);
  height: var(--player-height);
  background-image: url('../player.png');
  background-size: auto 320px; /* img height => 800, cell height => 80 */
  background-origin: content-box;
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: var(--layer-pc);
}

.left .kind--player-img {
  background-position: 0 calc(var(--player-height) * -2);
}

.right .kind--player-img {
  background-position: calc(var(--player-width) * -3) calc(var(--player-height) * -3);
}

.up .kind--player-img {
  background-position: 0 calc(var(--player-height) * -1);
}

.down .kind--player-img {
  background-position: 0 calc(var(--player-height) * 0);
}

.walk .kind--player-img {
  background-position-x: calc(var(--player-width) * -1);
}

.walk.walk-invert .kind--player-img {
  background-position-x: calc(var(--player-width) * -3);
}

.right.walk .kind--player-img {
  background-position-x: calc(var(--player-width) * -2);
}

.right.walk.walk-invert .kind--player-img {
  background-position-x: 0;
}

.board {
  margin: 0 auto;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  overflow: hidden;
}

.level-over {
  z-index: var(--layer-osd);
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 250px;
  text-align: center;
  font-family: monospace;
  color: white;
  font-size: 2rem;
}

.level-over--box {
  position: relative;
  width: 600px;
  margin: 0 auto;
}

.level-over--reward {
  width: 200px;
  height: 300px;
  position: absolute;
  left: 40px;
  top: -120px;

  animation: .5s ease-in-out both oh-resize;

  background: transparent url('../win-1.png') no-repeat 0 0;
  background-size: cover;
}

.level-over--reward__0 {
  background-image: url('../win-0.png');
}

.level-over--reward__1 {
  background-image: url('../win-1.png');
}

.level-over--reward__2 {
  background-image: url('../win-2.png');
}

.level-over--reward__3 {
  background-image: url('../win-3.png');
}

.level-over--message {
  position: relative;
  font-size: 3rem;
  font-weight: bold;
  color: black;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff;
  display: block;
  background-color: rgba(0,0,0,.1);
  border-radius: 30px;
}

.level-over--link {
  position: relative;
}

.container {
  margin-top: 40px;
  position: relative;
  width: 100vw;
}

.container--inner {
  transform-origin: top left;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

@keyframes swing {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(30deg);
  }
}

@keyframes shake-horizontal {
  from {
    transform: translateX(10px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes oh-resize {
  from {
    transform: scale(0.1) rotate(-23deg);
  }
  to {
    transform: scale(1) rotate(-23deg);
  }
}

@keyframes is-fulfilled {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: .7;
  }
}
