.board--row {
  clear: both;
}

.cell {
  position: absolute;
  box-sizing: border-box;
}

.cell__wall {
  background-color: rgba(0,0,0,0.5);
}

.cell__ground {
  background-color: rgba(0,255,0,0.5);
}

.player {
  border: 1px solid black;
  background-color: green;
  border-radius: 60px;
}
