<div class="container">
  {{#draw-board level.board zoom=level.zoom}}
    {{draw-player level.player onMove=(route-action 'move' level)}}
  {{/draw-board}}

  {{#if level.won}}
    {{level-over level next=nextLevel}}
  {{/if}}
</div>
